.header { grid-area: header; }
.newTasks { grid-area: main; }
.header h1{
    color: rgba(174, 66, 87, 0.2); 
	font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  width: 50%;
  background-color: rgb(234, 238, 238);
  margin: auto;
}

button.btn{
  border-color: rgb(75, 120, 204);
}

.flex-container > div {
  color: brown;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 70px;
  font-size: 24px;
}

.header input{
    text-align: center;
    width: 30%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(146, 17, 17);
}
.header input:focus{
    border: 1px solid rgb(219, 10, 10);
    border-radius: 10px;
    outline: none;
}

.task{
  text-align: left;
  font-size: 32px;
  height: 5px;
  border: 1px solid black;
  width: 40%;
  margin: auto;
  color: brown;
}

.filters{
  border-radius: 10px;
  border: 1px solid rgb(146, 17, 17);
  background-color: rgba(247, 245, 245, 0.541);
  font-size: 24px;
  width: 60%;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

.checkbox-round {
  border-radius: 50%;
}