body {
    background-color: rgb(234, 238, 238);
}

body.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.body-container>div {
    height: 300px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
}

.flex-tasks {
    display: flex;
    flex-direction: row;
}

.flex-tasks>div {
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
}

h1 {
    color: rgba(174, 66, 87, 0.2);
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input[type=text] {
    width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
}

input[type=text]:focus {
    outline: none;
    border-color: brown;
}

.tasks-container {
    display: flex;
    flex-direction: column;
}

.tasks-container>div {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    width: 500px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
    color: brown;
    flex-basis: 100px;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin: 20px;
}

#deleteButton {
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    float: right;
    margin-top: 20px;
}

.filterBar-container {
    display: flex;
    justify-content: space-around;
}

.filterBar-container>div {
    margin: 10px;
    text-align: center;
    width: 250px;
    color: brown;
}

#filters {
    display: inline-block;
}

#all,
#active,
#completed {
    background-color: brown;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

#all.active,
#active.active,
#completed.active {
    outline: none;
    background-color: rgb(70, 132, 168);
}

.trimText {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.trimText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}